h1 {
    text-align: center;
    font-size: 7vw;
    color: firebrick;
}
body {
    background-image: url("../background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-style: italic;
}